/* Background */
body {
    position: relative;
    width: 1200px;
    height: 2336px;

    background: #E5E5E5;
}

.First-section {
    background-image: url(../assets/Background_1.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: 0px;
}

.Second-section {
    position: absolute;
    width: 1200px;
    height: 700px;
    left: 0px;
    top: 800px;
    background-repeat: no-repeat;
    background: #EEEEEE;   
}

.Third-section {
   
    position: absolute;
    width: 1200px;
    height: 800px;
    left: 0px;
    top: 1500px;
    background: url(../assets/Background_2.png);
}

.Footer {
    position: absolute;
    width: 1200px;
    height: 170px;
    left: 0px;
    top: 2166px;
    background: #464547;
}


/* Text, Font & Size */


/* First-Section */

#Big-logo {
    position: absolute;
    width: 63px;
    height: 63px;
    left: 569px;
    top: 252px;
}

.English-header {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

h1 {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 407px;
    top: 328px;

    color: #FFFFFF;
}

.Latin-header {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.First-section h2 {
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 488px;

    color: rgba(255, 255, 255, 0.7);
}


/* Second-Section */

.Second-section h2 {
    position: absolute;
    width: 669px;
    height: 119px;
    left: 265px;
    top: 87px;

    color: #464547;
}

.Second-section h3 {
    position: absolute;
    width: 426px;
    height: 57px;
    left: 387px;
    top: 246px;

    color: #666666;
}

#article {
    position: absolute;
    width: 983px;
    height: 194px;
    left: 97px;
    top: 351px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}



#Read-more {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    position: absolute;
    width: 115px;
    height: 36px;
    left: 542px;
    top: 566px;

    background: #55C2D8;
    border-radius: 18px;
    border: 1px solid #39C2D7;

    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}


/* Third-Section */

.Third-section h2 {
    position: absolute;
    width: 480px;
    height: 117px;
    left: 360px;
    top: 84px;

    color: #FFFFFF;
}

#Star-button {
    font-size: 70px;
    
    position: absolute;
    width: 150px;
    height: 150px;
    left: 525px;
    top: 254px;
    background: #39C2D7;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #39C2D7;
    
}


.Third-section h3 {
    position: absolute;
    width: 390px;
    height: 102px;
    left: 395px;
    top: 474px;

    color: #FFFFFF;
}

#Small-logo {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 145px;
    top: 19px;

}

#Project {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 181px;
    top: 21px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

i {
    position: absolute;
    width: 174px;
    height: 33px;
    left: 140px;
    top: 51px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.4);
}

a {
    position: absolute;
    width: 142px;
    height: 22px;
    left: 140px;
    top: 90px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.4);

    text-decoration: none;
}

.Footer p {
    position: absolute;
    width: 253px;
    height: 20px;
    left: 140px;
    top: 112px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.4);
}